.header {
    width: 1052px;
    margin: 92px 24px 94px 24px;
    grid-template-columns: 2.22fr 2fr 1.43fr;
    display: grid;
    align-items: center;
}

.header__links-list {
    display: flex;
    gap: 32px;
    font-size: 18px;
    padding-left: 26.52px;
}

.header__links-list-item {
    list-style: circle;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__link {
    font-size: 18px;
    line-height: 21.13px;
    text-underline-position: under;
}

.header__link_active {
    text-decoration: none;
}

.header__logo {
    display: block;
    justify-self: left;
    align-self: center;
}

.header__logo-image {
    height: 104.65px;
    padding-left: 44px;
}

.address {
    font-style: inherit;
    justify-self: left;
    display: block;
    font-size: 18px;
    text-underline-position: under;
    line-height: 24.3px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 179px;
}

.cover {
    position: relative;
    padding: 165px 50px 51px 50px;
    background-image: url(../images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.overlay {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.6;
}

.cover__title {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: "Raleway", Arial, sans-serif;
    font-size: 100px;
    font-weight: 700;
    line-height: 115px;
    letter-spacing: 0.3em;
    color: rgba(255, 255, 255, 1);
    gap: 20px;
    z-index: 1;
    text-transform: uppercase;
}

.aligned-text {
    display: block;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;
}

.aligned-text_center {
    line-height: 100px;
    text-align: center;
}

.aligned-text_right {
    line-height: 100px;
    text-align: right;
}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 78px;
    padding: 136px 0 0;
}

.cover__description-text {
    font-size: 22px;
    line-height: 28px;
    word-spacing: 18px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
}

.bet-button {
    padding: 11px 32px;
    font-family: "Raleway", Arial, sans-serif;
    font-weight: normal;
    font-size: 22px;
    text-transform: uppercase;
    background-color: transparent;
    border: 1px #fff solid;
    color: #fff;
}

.lots {
    padding: 0 24px;
}

.lots__heading {
    padding: 0 0 27px 40px;
    font-size: 40px;
    line-height: 46.96px;
    text-transform: uppercase;
}

.lots__card-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    list-style: none;
}

.card-link {
    text-decoration: none;
}

.lots__card-list-item {
    height: 100%;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 48px 40px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card__title {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 22px;
    line-height: 26.4px;
    text-decoration-line: underline;
    text-transform: uppercase;
    text-underline-position: under;
}

.card__text {
    position: relative;
    z-index: 1;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
}

.lots__look-more-link {
    display: block;
    margin: 34px 0 0 40px;
    font-size: 20px;
    text-underline-position: under;
    line-height: 23.48px;
}

.about {
    padding: 0 24px;
    display: grid;
    grid-template-columns: 358px 1fr;
}

.about__column-text {
    display: grid;
    grid-template-rows: 0.82fr 1fr;
    align-items: center;
}

.about__logo {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    background-color: #000000;
    border-radius: 50%;
    margin-left: 47px;
}

.about__logo-image {
    width: 141.54px;
    height: 112.55px;
    margin: 62px 49px;
}

.about__title {
    font-family: "Raleway", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;
    margin-top: 30px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    display: grid;
    gap: 24px;
}

.about__text-one {
    letter-spacing: 0.01em;
    margin-top: 23px;
}

.footer {
    display: grid;
    grid-template-columns: 241px 149px 240px;
    gap: 185px;
    margin: 133px 50px 88px 50px;
}

.footer__menu-list {
    list-style: none;
}

.footer__menu-list-item {
    display: flex;
    justify-content: center;
}

.footer__menu-link {
    font-size: 18px;
    text-underline-position: under;
    line-height: 21.13px;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__social-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;
    list-style: none;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}
